<!DOCTYPE html>
<html>
	<head>
		<title>QSim</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0">

		<link rel="stylesheet" href="assets/css/QSim.css">
		<link rel="stylesheet" href="assets/css/Editor.css">
		<link rel="stylesheet" href="assets/css/documentation.css">

		<script src="assets/js/QSim.js"></script>
		<script src="assets/js/QSim-Gate.js"></script>
		<script src="assets/js/QSim-Circuit.js"></script>
		<script src="assets/js/QSim-Editor.js"></script>
		
	</head>
	<body>
		<main>
			<div class='Q-circuit-palette'></div>
			<div id="playground"></div>
		</main>
	</body>
	<script>
		// 创造量子门的图标
		Array
            .from( document.querySelectorAll( '.Q-circuit-palette' ))
            .forEach( function( el ){
                QSim.Editor.createPalette(el)
            })

		const updatePlayground = () => {
            const circuit = QSim.init( 3, 4 )
			circuit.set_source_code(`
				q = quantum(4)
                H 0 
				X 0 1
				X 0 2
				`)
			circuit.set_timewidth(circuit.gates.length)
			circuit.set_bandwidth(circuit.qubits_count)

            const domEl = document.getElementById( 'playground' )
            if( domEl ){
                while( domEl.lastChild ){
                    
                    domEl.removeChild( domEl.lastChild )
                }
                circuit.toDom( domEl )	
            }
        }
	
        updatePlayground()
        
	</script>
	<script>
		// 这个script用来测试使用
		
	</script>
</html>