<!DOCTYPE html>
<html>
	<head>
		<title>QSim</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0">

		<link rel="stylesheet" href="assets/css/Q.css">
		<link rel="stylesheet" href="assets/css/Q-Circuit-Editor.css">
		<link rel="stylesheet" href="assets/css/documentation.css">

        <script src="v.js"></script>
	</head>
	<body>
		<main>
			<div class='Q-circuit-palette'></div>
			<div id="playground"></div>
		</main>
	</body>
	<script>
		// 创造量子门的图表，以供拖拽使用
		Array
            .from( document.querySelectorAll( '.Q-circuit-palette' ))
            .forEach( function( el ){
                QSim.Editor.createPalette(el)
            })

		const updatePlayground = () => {
            const circuit = QSim.init( 2, 4 )
			// .h( 1, 1 )
			// .x( 2, [ 1, 2 ])
            const domEl = document.getElementById( 'playground' )
            if( domEl ){
                while( domEl.lastChild ){
                    
                    domEl.removeChild( domEl.lastChild )
                }

                circuit.toDom( domEl )	
            }
        }
	
        updatePlayground()
        
	</script>
</html>